name: QAQC eddyflux data 7 daily
on:
  workflow_dispatch:

  # schedule:
   # - cron: '30 05 * * *'  # runs at 5:30am UTC before generate plots
   
  # push:
    #  branches: [ fcre-eddyflux-data-qaqc ]
jobs:
  qaqc_run:
     runs-on: ubuntu-22.04
     container:
      image: rocker/tidyverse:4.2
     steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          ref: fcre-eddyflux-data
          fetch-depth: 1

   #    - name: List files matching pattern
   #      run: ls -l *.txt

    #  - name: Checkout files 
    #    uses: actions/checkout@v3
    #    with:
    #     ref: fcre-eddyflux-data-qaqc
         #fetch-depth: 1
          #path: 2024-02-16_AIU-0547_EP-Summary.txt

      - name: list files
        run: ls

      - name: Checkout files from the data branch
        run: |
            git config --global --add safe.directory "$GITHUB_WORKSPACE"
            git checkout fcre-eddyflux-data-qaqc
            git branch -v
            git config --global --add safe.directory "$GITHUB_WORKSPACE"
            git checkout fcre-eddyflux-data -- .
           
     # - name: Status
     #   run: |
     #      git config --global --add safe.directory "$GITHUB_WORKSPACE"
     #      git status 
      - name: Print a message
        run: echo "Hello, GitHub Actions!"

     

      - name: Run QAQC script
        run: | 
           R -e 'remotes::install_version("EDIutils", version = "1.0.2")'
           R -e 'remotes::install_version("xml2", version = "1.3.3")'
           R -e 'remotes::install_version("here", version = "1.0.1")'
           R -e 'remotes::install_version("hms", version = "1.1.3")'
           Rscript R/QAQC_workflow.R
      - name: Configure Git
        run: |
            git config --global --add safe.directory "$GITHUB_WORKSPACE"
            git config --local user.name "$GITHUB_ACTOR"
            git config --local user.email "$GITHUB_ACTOR@users.noreply.github.com"
       
           
      - name: Commit and push processed file
        run: |
           git status
           git reset
           git add EddyFlux_streaming_L1.csv
           git status
           git commit -m "Updating QAQC files" || echo "No changes to commit"
           git push origin fcre-eddyflux-data-qaqc || echo "No changes to commit"
           
      # - name: Commit files
      #   run: |
      #      git add EddyFlux_streaming_L1.csv
      #      git commit -m "Updating QAQC files" || echo "No changes to commit"
      #      git push -f || echo "No changes to commit"
